workflows/create-or-update-class.json
{
    "name": "Tool: Create Or Update Class Text",
    "nodes": [
        {
            "parameters": {
                "workflowInputs": {
                    "values": [
                        {
                            "name": "ClassName"
                        },
                        {
                            "name": "Language"
                        },
                        {
                            "name": "Text"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [144, -80],
            "id": "0db958e5-95c7-4b30-b9f1-254f67a6ab64",
            "name": "Start"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [-80, -272],
            "id": "1ec6ea22-9ee7-4b33-b284-767755aab88e",
            "name": "Test"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "9477c956-3877-461e-a305-739bc66e0991",
                            "name": "ClassName",
                            "value": "ZSWAN_N8NT_CX",
                            "type": "string"
                        },
                        {
                            "id": "8cad3271-f538-415e-853a-243b84173bb5",
                            "name": "Language",
                            "value": "DE",
                            "type": "string"
                        },
                        {
                            "id": "eaff437b-16ff-4f69-9881-7e4639b5e395",
                            "name": "Text",
                            "value": "Hallo Welt",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [144, -272],
            "id": "5fd2fc3e-4714-44dd-a0e1-7fc56033c416",
            "name": "Set Mock Data"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "1bec987c-56c0-444d-867c-2ae8f65ba3e9",
                            "name": "ClassName",
                            "value": "={{ $json.ClassName }}",
                            "type": "string"
                        },
                        {
                            "id": "8d8e402f-406b-46ca-a516-3526c1e04c89",
                            "name": "Language",
                            "value": "={{ $json.Language }}",
                            "type": "string"
                        },
                        {
                            "id": "07035414-c571-4c51-9d16-4b2291bb5ca1",
                            "name": "Text",
                            "value": "={{ $json.Text }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [368, -176],
            "id": "afac0670-52b9-4ed2-946c-bccaa2b3465e",
            "name": "Set Data"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "NupIlYYe3P1kVMfj",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/NupIlYYe3P1kVMfj",
                    "cachedResultName": "GetCSFR"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": true
                },
                "options": {}
            },
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.3,
            "position": [576, -176],
            "id": "c13f194f-b9d4-4e7b-89df-9cc6c82820d8",
            "name": "GetCSFR"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://abg-sap-dev01.swan.int:8001/sap/opu/odata/sap/ZSWAN_N8N_TRANSLATION_SRV/ClassText(ClassName='{{ $('Set Data').item.json.ClassName }}',Language='{{ $('Set Data').item.json.Language }}') ",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBasicAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "X-CSRF-Token",
                            "value": "={{ $('GetCSFR').item.json['x-csrf-token'] }}"
                        },
                        {
                            "name": "Cookie",
                            "value": "={{ $('GetCSFR').item.json.cookies }}"
                        },
                        {
                            "name": "X-HTTP-Method",
                            "value": "MERGE"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "Text",
                            "value": "={{ $('Set Data').item.json.Text }}"
                        }
                    ]
                },
                "options": {
                    "allowUnauthorizedCerts": true
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [1104, -256],
            "id": "d17bd267-c367-46f0-8247-2e583d7beed9",
            "name": "Update",
            "credentials": {
                "httpBasicAuth": {
                    "id": "HFmJZHem8seFIPk3",
                    "name": "SAP_USER"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://abg-sap-dev01.swan.int:8001/sap/opu/odata/sap/ZSWAN_N8N_TRANSLATION_SRV/ClassText",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBasicAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "X-CSRF-Token",
                            "value": "={{ $('GetCSFR').item.json['x-csrf-token'] }}"
                        },
                        {
                            "name": "Cookie",
                            "value": "={{ $('GetCSFR').item.json.cookies }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "Text",
                            "value": "={{ $('Set Data').item.json.Text }}"
                        },
                        {
                            "name": "ClassName",
                            "value": "={{ $('Set Data').item.json.ClassName }}"
                        },
                        {
                            "name": "Language",
                            "value": "={{ $('Set Data').item.json.Language }}"
                        }
                    ]
                },
                "options": {
                    "allowUnauthorizedCerts": true
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [1104, -64],
            "id": "b34b12b7-b5d0-4ade-ac32-3fa40aa17ce6",
            "name": "Create",
            "credentials": {
                "httpBasicAuth": {
                    "id": "HFmJZHem8seFIPk3",
                    "name": "SAP_USER"
                }
            }
        },
        {
            "parameters": {
                "url": "=https://abg-sap-dev01.swan.int:8001/sap/opu/odata/sap/ZSWAN_N8N_TRANSLATION_SRV/ClassText(ClassName='{{ $('Set Data').item.json.ClassName }}',Language='{{ $('Set Data').item.json.Language }}') ",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBasicAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {
                    "allowUnauthorizedCerts": true
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [768, -176],
            "id": "3e2f9780-3d1d-477e-bca1-3839f8f3cbde",
            "name": "Get",
            "credentials": {
                "httpBasicAuth": {
                    "id": "HFmJZHem8seFIPk3",
                    "name": "SAP_USER"
                }
            },
            "onError": "continueErrorOutput"
        }
    ],
    "pinData": {},
    "connections": {
        "Test": {
            "main": [
                [
                    {
                        "node": "Set Mock Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Start": {
            "main": [
                [
                    {
                        "node": "Set Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Mock Data": {
            "main": [
                [
                    {
                        "node": "Set Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Data": {
            "main": [
                [
                    {
                        "node": "GetCSFR",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GetCSFR": {
            "main": [
                [
                    {
                        "node": "Get",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get": {
            "main": [
                [
                    {
                        "node": "Update",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "versionId": "b5ad96a2-9ac0-45cc-99e5-69af68308494",
    "meta": {
        "instanceId": "b813e319a1362ee1c3b1b6cc77ed5c8e17d63bc9101971e988ed46fdc4f222f9"
    },
    "id": "YyyGgE2K7LfrtvLJ",
    "tags": []
}
