workflows/get-class-method-implementation.json
{
    "name": "Tool: Get Class Method Implementation",
    "nodes": [
        {
            "parameters": {
                "workflowInputs": {
                    "values": [
                        {
                            "name": "ClassName"
                        },
                        {
                            "name": "MethodName"
                        }
                    ]
                }
            },
            "id": "32d7f0c4-7326-49b4-ba38-22cb7b2002ee",
            "typeVersion": 1.1,
            "name": "Start",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "position": [224, 192]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "c2bb9ce3-2cae-4c81-8bd8-9afad55d3b28",
                            "name": "ClassName",
                            "value": "ZSWAN_N8NT",
                            "type": "string"
                        },
                        {
                            "id": "abc023d7-9cd0-45f2-acc4-9d46b619e9b0",
                            "name": "MethodName",
                            "value": "GET_ALL_PACKAGES",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [224, 0],
            "id": "7efaa2fc-a434-45fa-bf47-26e109ad6d0b",
            "name": "Set Mock Data"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "7fd398a9-f751-48c8-b55b-51fb028c3191",
                            "name": "ClassName",
                            "value": "={{ $json.ClassName }}",
                            "type": "string"
                        },
                        {
                            "id": "af8436f8-8e44-4547-9326-8eaeda549ada",
                            "name": "MethodName",
                            "value": "={{ $json.MethodName }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [448, 96],
            "id": "61ef9de2-b87a-4126-8836-e1778db4ab87",
            "name": "Set Data"
        },
        {
            "parameters": {
                "jsCode": "const SourceCode = $input.first().json.d.SourceCode;\nconst MethodName = $input.first().json.d.MethodName;\n\nreturn [{ json: { SourceCode, MethodName, ClassName: $input.first().json.d.ClassName } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [896, 96],
            "id": "a61b5e4e-0ba7-4513-bbb3-ba6a305f6482",
            "name": "Map Result"
        },
        {
            "parameters": {
                "url": "=https://abg-sap-dev01.swan.int:8001/sap/opu/odata/sap/ZSWAN_N8N_TRANSLATION_SRV/MethodSource(ClassName='{{ encodeURIComponent($json.ClassName) }}',MethodName='{{ encodeURIComponent($json.MethodName) }}') ",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBasicAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "accept",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {
                    "allowUnauthorizedCerts": true
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [672, 96],
            "id": "13d0a00a-f31b-43c4-96c1-6257cc6bc133",
            "name": "Query Method Source",
            "credentials": {
                "httpBasicAuth": {
                    "id": "HFmJZHem8seFIPk3",
                    "name": "SAP_USER"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [0, 0],
            "id": "2017923b-fa5e-48cc-a60a-23c6131264c8",
            "name": "Test"
        }
    ],
    "pinData": {},
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "Set Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Mock Data": {
            "main": [
                [
                    {
                        "node": "Set Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Data": {
            "main": [
                [
                    {
                        "node": "Query Method Source",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Method Source": {
            "main": [
                [
                    {
                        "node": "Map Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Test": {
            "main": [
                [
                    {
                        "node": "Set Mock Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "versionId": "c07722a6-b3d8-4bc0-9287-82c281e0cb7e",
    "meta": {
        "instanceId": "b813e319a1362ee1c3b1b6cc77ed5c8e17d63bc9101971e988ed46fdc4f222f9"
    },
    "id": "qGJFyOoH3G2xcp0J",
    "tags": []
}
